option_settings:
  aws:elasticbeanstalk:application:environment:
    POSTGRES_USERNAME: postgres
    POSTGRES_PASSWORD: postgres1234
    POSTGRES_HOST: udagram.cplz0g5qu4dc.us-east-1.rds.amazonaws.com
    POSTGRES_DB: udagram
    DB_PORT: 5432
    AWS_BUCKET: arn:aws:s3:::udagram-bucket1332023
    AWS_REGION: us-east-1
    AWS_PROFILE: default
    JWT_SECRET: mysecretstring
    URL: http://udagram-bucket1332023.s3-website-us-east-1.amazonaws.com
    PORT: 3000
